@model IEnumerable<Participant>

@{
    var participants = Model.ToArray();

    //foreach (Participant participant in Model)
    //{
    //    @participants.Add(participant);
    //}
}

<div class="wrapper">
    <main class="main">
        <section class="choise">
            <div class="container">
                <ul class="choise__list">
                    <li class="choise__item">
                        <img src="~/participantImages/@participants[1].ProfileImage"
                             alt=""
                             class="choise__item-img left-1" />
                        <div class="btn__container">
                            <button type="button" class="choise__btn left-2"><</button>
                        </div>
                    </li>
                    <li class="choise__item">
                        <img src="~/participantImages/@participants[0].ProfileImage"
                             alt=""
                             class="choise__item-img right-1" />
                        <div class="btn__container">
                            <button type="button" class="choise__btn right-2">></button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>













@*<h1>Participant List</h1>

<p>
    <a asp-action="Create">Create New Participant</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Rating</th>
            <th>Profile Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in Model)
        {
            <tr>
                <td>@participant.Id</td>
                <td>@participant.Name</td>
                <td>@participant.Age</td>
                <td>@participant.Rating</td>
                <td>
                    @if (participant.ProfileImage != null)
                    {
                        <img src="~/participantImages/@participant.ProfileImage" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@participant.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@participant.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@




